<% if jet.photos.attached? && jet.photos.count >= 2%>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag jet.photos.first.key, height: 200, width:300, crop: :fill, class: 'd-block w-100'%>
      </div>
      <% jet.photos.drop(1).each do |photo| %>
        <div class="carousel-item">
          <%= cl_image_tag photo.key, height: 200, width:300, crop: :fill, class: 'd-block w-100' %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% elsif jet.photos.attached? && jet.photos.count == 1 %>
  <%= cl_image_tag jet.photos.first.key, height: 200, width:300, crop: :fill %>
<% else %>
  <%= image_tag('https://source.unsplash.com/1600x900/?plane', height: 200, width:300, crop: :fill) %>
<% end %>

<h3><strong><%= link_to jet.model, jet_path(jet) %></strong></h3>
<p style="color: lightgrey;"><%= jet.unit_price %></p>
