<%= render 'shared/banner' %>
<div class="container">
  <div class="mt-4">
    <h1 class="text-center">All avaiable private jets!</h1>
  </div>
  <div class="cards my-4">
    <% @jets.each do |jet| %>
    <div class="card-trip">
      <% if jet.photos.attached? %>
          <%= cl_image_tag jet.photos.first.key, crop: :fill %>
      <% else %>
      <img src="https://source.unsplash.com/1600x900/?plane" />
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to jet.name, jet_path(jet)  %></h2>
          <p><%= jet.model %> <%= jet.capacity %> Host: <%= jet.user.first_name %> Location: <%= jet.city.name %> </p>
        </div>
        <h2 class="card-trip-pricing">&euro; <%= jet.unit_price %></h2>
        <img src="https://kitt.lewagon.com/placeholder/users/random" class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <% end %>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
