<%= render 'shared/banner' %>
<% if params[:query] %>
  <div class="container">
    <div class="mt-4">
      <!-- <h2 class="text-center">All available private jets in <%= params[:query].split.first.capitalize %>!</h2> -->
      <h2 class="text-center">All available private jets in <%= @jets.first.city.name.capitalize %>!</h2>
    </div>
    <div class="cards my-4">
      <% @jets.each do |jet| %>
      <div class="card-trip">
        <% if jet.photos.attached? %>
            <%= cl_image_tag jet.photos.first.key, crop: :fill %>
        <% else %>
        <img src="https://source.unsplash.com/1600x900/?plane" />
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to jet.model, jet_path(jet)  %></h2>
            <p>Location: <%= jet.city.name %> </p>
            <p>Seats: <%= jet.capacity %></p>
            <p>Speed: <%= jet.speed %> kts</p>
            <p>Range: <%= jet.range %> nm</p>
            <p>Flight Time: <%= jet.flight_time %> hrs</p>
          </div>
          <h2 class="card-trip-pricing">&euro; <%= jet.read_format(jet.unit_price) %></h2>
          <img
            src="https://kitt.lewagon.com/placeholder/users/random"
            class="card-trip-user avatar-bordered" />
        </div>
      </div>
      <% end %>
    </div>
  </div>

<% else %>
<div class="container">
  <div class="mt-4">
    <h2 class="text-center">All available private jets!</h2>
  </div>
  <div class="cards my-4">
    <% @jets.each do |jet| %>
      <div class="card-trip">
      <% if jet.photos.attached? %>
          <%= cl_image_tag jet.photos.first.key, crop: :fill %>
      <% else %>
      <img src="https://source.unsplash.com/1600x900/?plane" />
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to jet.model, jet_path(jet)  %></h2>
          <p>Location: <%= jet.city.name %> </p>
          <p>Seats: <%= jet.capacity %></p>
          <p>Speed: <%= jet.speed %> kts</p>
          <p>Range: <%= jet.range %> nm</p>
          <p>Flight Time: <%= jet.flight_time %> hrs</p>
        </div>
        <h2 class="card-trip-pricing">&euro; <%= jet.read_format(jet.unit_price) %></h2>
        <img
          src="https://kitt.lewagon.com/placeholder/users/random"
          class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <% end %>
  </div>
</div>

<div
  id="map"
  style="width: 100vw;
  height: 500px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<% end %>
