<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h2 class="mt-4">Become a jet host</h2>
      <%= simple_form_for @jet do |f| %>
        <%= f.input :name, placeholder: "Name of the jet"%>
        <%= f.input :model, placeholder: "Model name of the jet" %>
        <%= f.input :capacity, collection: (4..15)  %>
        <%= f.input :unit_price, collection: [1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000]  %>
        <%= f.association :city, collection: City.order(:name), prompt: "Choose a City" %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit value: 'Add Jet', class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "Back to list", root_path %>
    </div>
  </div>

</div>
