<div class="container">
  <div class="row">
    <div class="col-6">
      <%= image_tag('host.jpeg', style: 'margin-top:32px;width:100%;')%>
      <%= image_tag('host1.jpeg', style: 'margin-top:16px;width:100%;')%>
    </div>
    <div class="col-6 mb-4">
      <h2 class="mt-4">Become a jet host</h2>
      <%= simple_form_for @jet do |f| %>
        <%= f.input :model, placeholder: "Model" %>
        <%= f.input :size, prompt: "Size category", collection: ["Small Prop", "Small Jet", "Medium Jet", "Regional Airliner"]%>
        <%= f.input :capacity, prompt: "Number of seats", collection: (4..25)  %>
        <%= f.input :speed, placeholder: "Speed in knots" %>
        <%= f.input :range, placeholder: "Range in nautical miles"  %>
        <%= f.input :flight_time, prompt: "Flight time in hours", collection: (11..27).to_a  %>
        <%= f.input :unit_price, placeholder: 'Price per day'  %>
        <%= f.association :city, prompt: "Choose a City", collection: City.order(:name)%>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.button :submit, 'Add a jet', class: 'btn btn-gradient' %>
      <% end %>
    </div>
  </div>

</div>
