<div class="container">
  <div class="row">
    <div class="col-6">
      <%= image_tag('host.jpeg', style: 'margin-top:32px;width:100%;')%>
      <%= image_tag('host1.jpeg', style: 'margin-top:16px;width:100%;')%>
    </div>
    <div class="col-6 mb-4">
      <h2 class="mt-4">Become a jet host</h2>
      <%= simple_form_for @jet do |f| %>
        <%= f.input :name, placeholder: "Name of the jet"%>
        <%= f.input :model, placeholder: "Model of the jet" %>
        <%= f.input :capacity, collection: (6..15)  %>
        <%= f.input :unit_price, label: 'Price per day', collection: [1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000]  %>
        <%= f.association :city, collection: City.order(:name), prompt: "Choose a City" %>
        <%= f.input :description%>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.button :submit, 'Add a jet', class: 'btn btn-gradient' %>
      <% end %>
    </div>
  </div>

</div>
