<div class="container my-4">
  <h2 class=" text-center">
  <% if @booking.status == 'send' %>
    Are you ready to fly?
  <% elsif @booking.status == 'pending' %>
    <% if current_user == @booking.jet.user %>
      Please accept or decline this request!
    <% elsif current_user == @booking.user %>
      Waiting for your host to accept your request!
    <% end %>
  <% elsif @booking.status == 'accepted' %>
    <% if current_user == @booking.jet.user %>
      You've accepted this booking!
    <% elsif current_user == @booking.user %>
      Your request has been accepted!
    <% end %>
  <% elsif @booking.status == 'declined' %>
    <% if current_user == @booking.jet.user %>
      You've declined this booking!
    <% elsif current_user == @booking.user %>
      Sorry your request has been declined.
    <% end %>
  <% elsif @booking.status == 'cancelled' %>
    This booking has been cancelled.
  <% end %>
  </h2>
  <div class="row my-4">
    <div class="col-6 text-center">
      <div>
        <% if @booking.jet.photos.attached? && @booking.jet.photos.count >= 2%>
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= cl_image_tag @booking.jet.photos.first.key, height: 300, width:540, crop: :fill, class: 'd-block w-100'%>
              </div>
              <% @booking.jet.photos.drop(1).each do |photo| %>
                <div class="carousel-item">
                  <%= cl_image_tag photo.key, height: 300, width:540, crop: :fill, class: 'd-block w-100' %>
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <% elsif @booking.jet.photos.attached? && @booking.jet.photos.count == 1 %>
          <%= cl_image_tag @booking.jet.photos.first.key, height: 300, width:540, crop: :fill %>
        <% else %>
          <%= image_tag('https://source.unsplash.com/1600x900/?plane', height: 300, width:540, crop: :fill) %>
        <% end %>
        <div class="my-4">
        <h3><strong><%= (@booking.end_date - @booking.start_date).to_i + 1%> days for <%= @booking.jet.name %></strong></h3>
        </div>
        <div class="row" style="color: grey;">
          <div class="col-4"><p><i class="fas fa-plane"></i> <%= @booking.jet.model %></p></div>
          <div class="col-4"><p><i class="fas fa-map-marker-alt" style="margin-right: 8px;"></i><%= @booking.jet.city.name %></p></div>
          <div class="col-4"><p><i class="fas fa-user" style="margin-right: 8px;"> <%= @booking.jet.capacity %></i></p></div>
        </div>
        <div class="box-grey">
          <p class="text-justify"><%= @booking.jet.description %></p>
        </div>
        <div class="my-4 text-left">
          <p>Check in: <strong><%= @booking.start_date %></strong></p>
          <p>Check out: <strong><%= @booking.end_date %></strong></p>
          <p>Total Cost: <strong><span style='color: #EE534F;'>&euro; <%= @booking.total_price %></span></strong></p>
          <p>Host: <strong><%= @booking.jet.user.full_name %></strong> - <%= link_to @booking.jet.user.email, '' %></p>
        </div>
      </div>
    </div>
    <div class="div">
      <div
        id="map"
        style="width: 540px;height: 100%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
  <div class="row text-center justify-content-around">
    <% if @booking.status == 'send' && current_user == @booking.user %>
      <div class="col-6">
        <%= simple_form_for @booking do |f| %>
        <%= f.input :status, input_html: {value: 'pending'}, as: :hidden %>
        <%= f.submit "Send request", class: 'btn btn-gradient'%>
        <% end %>
      </div>
      <div class="col-6 mt-3">
        <%= link_to 'Cancel', booking_path(@booking), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-ghost'%>
      </div>
    <% elsif @booking.status == 'pending' && current_user == @booking.jet.user %>
      <div class="col-6">
        <%= simple_form_for @booking do |f| %>
        <%= f.input :status, input_html: {value: 'accepted'}, as: :hidden %>
        <%= f.submit "Accept request", class: 'btn btn-gradient'%>
        <% end %>
      </div>
      <div class="col-6">
        <%= simple_form_for @booking do |f| %>
        <%= f.input :status, input_html: {value: 'declined'}, as: :hidden %>
        <%= f.submit "Decline", class: 'btn btn-ghost'%>
        <% end %>
      </div>
    <% elsif @booking.status == 'accepted'%>
      <div class="col-6">
        <%= simple_form_for @booking do |f| %>
        <%= f.input :status, input_html: {value: 'cancelled'}, as: :hidden %>
        <%= f.submit "Cancel this booking", class: 'btn btn-gradient'%>
        <% end %>
      </div>
    <% else %>
      <div class="col-6 mt-3">
        <%= link_to 'Back to list', root_path, class: 'btn btn-ghost' %>
      </div>
    <% end %>
  </div>
</div>
