<div class="container">
  <div class="mt-4">
    <h2 class="text-center"> <%= @user.full_name %> Jets</h2>
  </div>
  <div class="cards my-4">
    <% @jets.each do |jet| %>
    <div class="card-trip">
      <% if jet.photos.attached? %>
      <%= cl_image_tag jet.photos.first.key, crop: :fill %>
      <% else %>
      <img src="https://source.unsplash.com/1600x900/?plane" />
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to jet.name.capitalize, jet_path(jet)  %></h2>
          <p><%= jet.model %> Location: <%= jet.city.name %> </p>
        </div>
        <h2 class="card-trip-pricing">&euro; <%= jet.unit_price %></h2>
        <img src="https://kitt.lewagon.com/placeholder/users/random" class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <% end %>
  </div>
</div>
<% if current_user = @user %>
<% @booking_requests.each do |booking| %>
<div class="card-trip">
  <% if booking.jet.photos.attached? %>
  <%= cl_image_tag booking.jet.photos.first.key, crop: :fill %>
  <% else %>
  <img src="https://source.unsplash.com/1600x900/?plane" />
  <% end %>
  <div class="card-trip-infos">
    <div>
      <p><%= booking.start_date %></p>
      <p><%= booking.end_date %></p>
      <p><%= (booking.end_date - booking.start_date).to_i %> days</p>
      <p><%= booking.total_price %></p>
      <p><%= booking.jet.name %></p>
      <p><%= booking.jet.model %></p>
      <p><%= booking.jet.capacity %></p>
      <p><%= booking.jet.user.first_name %> <%= booking.jet.user.last_name %></p>
      <p><%= booking.jet.city.name %></p>
      <%= booking.status %>
      <% if booking.status == "pending" %>
      <%= simple_form_for booking do |f| %>
      <%= f.input :status, input_html: {value: 'accepted'}, as: :hidden %>
      <%= f.submit "accept" %>
      <% end  %>
      <%= simple_form_for booking do |f| %>
      <%= f.input :status, input_html: {value: 'cancelled'}, as: :hidden %>
      <%= f.submit "cancel" %>
      <% end  %>
      <%= simple_form_for booking do |f| %>
      <%= f.input :status, input_html: {value: 'declined'}, as: :hidden %>
      <%= f.submit "decline" %>
      <% end  %>
      <% end %>
    </div>
    <h2 class="card-trip-pricing">&euro; <%= booking.jet.unit_price %></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/random" class="card-trip-user avatar-bordered" />
  </div>
</div>
<% end  %>
<% end %>
