
<% if params[:query] %>
  <!-- since the user can input 2 cities, we take the first one -->
  <div class="banner" style="background-size: cover; object-fit: scale-down; width: 100%; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= "https://source.unsplash.com/featured/?#{@jets.first.city.name},city" %>);">
    <div class="container">
      <!-- <h1>Rent a private <strong>jet</strong> in <%= params[:query].split.first.capitalize %></h1> -->
      <h1>Rent a private <strong>jet</strong> in <%= @jets.first.city.name.capitalize %></h1>
      <p>Travel the world with it</p>
    </div>
  </div>

<% else %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('jet.jpg') %>);">
  <div class="container">
    <h1>jetNgo allows <strong>people</strong> to <strong>fly anywhere</strong>!</h1>
    <p>Go anywhere you want.</p>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <%= form_tag jets_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a jet now"
          %>
          <%= submit_tag "Search", class: "btn btn-gradient"%>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% end %>
